/*--- CATEGORIES ---*/
.furgan-categories.style-02 img {
    border-radius: 0 !important;
}

/*--- FOOTER ---*/
.section-010 p {
    padding: 5px 10px !important;
}

.furgan-socials.style-01 .socials-list li {
    height: 20px !important;
    margin-right: 10px !important;
}

.furgan-socials.style-01 .socials-list li a {
    height: 20px !important;
    width: 20px !important;
    font-size: 10px !important;
    line-height: 23px !important;
}

/*--- CATEGORY ---*/
.furgan-categories.style-02 .title {
    text-align: center;
    font-size: 16px !important;
    font-weight: 600;
    margin-top: 30px;
}