.container{
    width: 100% !important;
    padding: 0 30px;
    max-width: 1400px;
}

.page-title{
    font-size: 30px;
}
    
.btn-black {
    min-width: 125px;
    height: 25px;
    line-height: 27px;
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
    border: 1px solid #000;
    font-weight: 700;
    letter-spacing: 0.1em;
    padding: 0 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.btn-black:hover{
    color: white;
    background-color: black;
}

.btn-green{
    min-width: 125px;
    height: 30px;
    line-height: 32px;
    text-transform: uppercase;
    font-size: 15px;
    display: inline-block;
    border: 1px solid #9cc25d;
    color: #9cc25d;
    font-weight: 700;
    letter-spacing: 0.1em;
    padding: 0 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.btn-green:hover{
    color: white;
    background-color: #9cc25d;
}

.btn-solid{
    background-color: white;
    border: 1px solid #dadada;
    color: grey;
    font-size: 30px;
    padding: 0px 8px;
    line-height: 1.1;
    width: 35px;
    height: 35px;
    float: left;
    text-align: center;
}

.input-checkbox{
    width: 100%;
    height: 22px;
}

/*--- FOOTER ---*/
.section-010 p {
    padding: 5px 10px !important;
}

.furgan-socials.style-01 .socials-list li {
    height: 20px !important;
    margin-right: 10px !important;
}

.furgan-socials.style-01 .socials-list li a {
    height: 20px !important;
    width: 20px !important;
    font-size: 10px !important;
    line-height: 23px !important;
}

/*--- CATEGORY ---*/
.furgan-categories.style-02 .title {
    text-align: center;
    font-size: 16px !important;
    font-weight: 600;
    margin-top: 30px;
}

.furgan-categories.style-02 img {
    border-radius: 0 !important;
}

.btn-black {
    min-width: 125px;
    height: 25px;
    line-height: 27px;
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
    border: 1px solid #000;
    font-weight: 700;
    letter-spacing: 0.1em;
    padding: 0 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.btn-black:hover{
    color: white;
    background-color: black;
}

.btn-green{
    min-width: 125px;
    height: 30px;
    line-height: 32px;
    text-transform: uppercase;
    font-size: 15px;
    display: inline-block;
    border: 1px solid #9cc25d;
    color: #9cc25d;
    font-weight: 700;
    letter-spacing: 0.1em;
    padding: 0 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.btn-green:hover{
    color: white;
    background-color: #9cc25d;
}

.btn-red{
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #dc3545;
    background: #dc3545;
    color: white;
}

.btn-red:hover{
    background: white;
    color: #dc3545;
}

.btn-blue{
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #0168fa;
    background: #0168fa;
    color: white;
}

.btn-blue:hover{
    background: white;
    color: #0168fa;
}

.btn-green2{
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #10b759;
    background: #10b759;
    color: white;
}

.btn-green2:hover{
    background: white;
    color: #10b759;
}

.category{
    background-color: #9cc25d;
    cursor: pointer;
}

.sub_category{
    color: black;
    background-color: #e0e0e0;
    border-bottom: 1px solid #b1b1b1;  
}

.product-thumb{
    border-radius: 5px;
    box-shadow: 3px 3px 7px 0px #e0e0e0;
}

/*--- STORE ---*/
.nav-store{
    width: 50%;
    margin-bottom: 20px !important;
}

.readonly{
    background-color: #f5f6fa !important;
}

@media only screen and (max-width: 630px) {
    #header{
        box-shadow: -1px -1px 8px;
    }

    .section-002 {
        padding-bottom: 0 !important;
    }

    .page-title{
        font-size: 20px !important;
    }

    .breadcrumbs{
        font-size: 10px !important;
    }

    .product-name{
        font-size: 12px !important;
        margin-bottom: 0 !important;
    }

    .price{
        font-size: 12px !important;
    }

    .furgan-product-gallery .flex-control-nav.flex-control-thumbs {
        max-width: none !important;
    }

    .mobile-none{
        display: none !important;
    }

    .banner-wrapper-inner{
        padding: 0 !important;
        text-align: left !important;
    }

    .btn-black {
        min-width: 90px;
        height: 19px;
        line-height: 21px;
        text-transform: uppercase;
        font-size: 8px;
        display: inline-block;
        border: 1px solid #000;
        font-weight: 700;
        margin-top: 5px;
        padding: 0 5px;
        position: relative;
        overflow: hidden;
        text-align: center;
    }

    .nav-store{
        margin-bottom: 0 !important;
    }

    .new-product{
        padding: 5px 15px !important;
    }

    .align-left-mobile{
        text-align: left !important;
        padding: 0 !important;
    }
}

@media only screen and (max-width: 1024px) {
    .container{
        width: 100% !important;
        padding: 20px 10px 0 10px !important;
    }

    .input-checkbox{
        width: 100%;
        height: 22px;
    }

    .align-left-tab{
        text-align: left !important;
        padding: 0 !important;
    }

    .tab-none{
        display: none !important;
    }
}